[submodule "eon-assets"]
	path = eon-assets
	url = https://github.com/Juloass/eon-assets
[submodule "eon-site"]
	path = eon-site
	url = https://github.com/Juloass/eon-site
[submodule "eon-mod"]
	path = eon-mod
	url = https://github.com/Juloass/eon-mod.git
[submodule "eon-replace"]
	path = eon-replace
	url = https://github.com/Juloass/eon-replace.git
